/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


 
@font-face {
    font-family: 'Futura';
    src: url(fonts/'futurastd-bold.eot');
    src: url(fonts/'futurastd-bold.eot') format('embedded-opentype'),
         url(fonts/'futurastd-bold.woff') format('woff'),
         url(fonts/'futurastd-bold.ttf') format('truetype'),
         url(fonts/'futurastd-bold.svg#FuturaStdBold') format('svg');
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
audio{
  display: none;
}

body {
    width: 100%;
 font-family: "Futura", "Arial";
    font-size: 1em;
    font-variant: bold;
    line-height: 1.4;
    background-color: #2f3438;
    color: #fff;
}




a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
  color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}






/*anything in here is mobile*/

#wrapper {
 width:98%;
    margin-left: auto ;
  margin-right: auto ;
  padding-top:3%;
}


.header {
 width:80%;
    margin-left: auto ;
  margin-right: auto ;
}

.visuallyHidden {
   display: none;

}

time {
  font-size: 4em;
  color:#646b71;

}

.content {
 width:80%;
    margin-left: auto ;
  margin-right: auto ;
  font-size: 1.5em;
  line-height: 0.9em;

}

.content p {


}

.footer {
     width:80%;
    margin-left: auto ;
  margin-right: auto ;
    background-color: #000;


}

.cta {

}

.section {
    margin-left: auto ;
  margin-right: auto ;
    background-color: #000;


}


.section h2 {

}

.section p {

}

.section ul {

}

.section li {
 list-style-type: none;

}



@media only screen and (min-width: 641px) {

#wrapper {
 width:98%;
    margin-left: auto ;
  margin-right: auto ;
  padding-top:3%;
  background-color: blue;
}


.header {
 width:80%;
    margin-left: auto ;
  margin-right: auto ;
}

.visuallyHidden {
   display: none;

}

time {
  font-size: 8em;
  color:red;
  line-height: 0.5em;

}

.content {
 width:80%;
    margin-left: auto ;
  margin-right: auto ;
  font-size: 2em;

}

.content p {


}

.footer {
     width:80%;
    margin-left: auto ;
  margin-right: auto ;

}

.ctaPrimary {
  color: #ffffff;
  font-size: 2em;

}

.ctaSecondary {
  color: red;
  font-size: 1em;

}

.section {
    margin-left: auto ;
  margin-right: auto ;
  background-color: #000;

}


.section h2 {

}

.section p {

}

.section ul {
   list-style-type: none;


}

.section li {
 list-style-type: none;

}

}




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*anything in here is tablet*/

@media only screen and (min-width: 1025px) {
    /* Style adjustments for viewports that meet the condition */

  #wrapper {
   width:98%;
      margin-left: auto ;
    margin-right: auto ;
    padding-top:3%;
    background-color: blue;
  }


  .header {
   width:80%;
      margin-left: auto ;
    margin-right: auto ;
  }

  .visuallyHidden {
     display: none;

  }

  time {
    font-size: 8em;
    color:red;
    line-height: 0.5em;

  }

  .content {
   width:80%;
      margin-left: auto ;
    margin-right: auto ;
    font-size: 2em;

  }

  .content p {


  }

  .footer {
       width:80%;
      margin-left: auto ;
    margin-right: auto ;

  }

  .ctaPrimary {
    color: #ffffff;
    font-size: 2em;

  }

  .ctaSecondary {
    color: red;
    font-size: 1em;

  }

  .section {
      margin-left: auto ;
    margin-right: auto ;
    background-color: #000;

  }


  .section h2 {

  }

  .section p {

  }

  .section ul {
     list-style-type: none;


  }

  .section li {
   list-style-type: none;

  }



}






@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */

 

}
