/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futurastd-bold.eot');
    src: url('../fonts/futurastd-bold.eot') format('embedded-opentype'),
         url('../fonts/futurastd-bold.woff') format('woff'),
         url('../fonts/futurastd-bold.ttf') format('truetype'),
         url('../fonts/futurastd-bold.svg#FuturaStdBold') format('svg');
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
audio{
  display: none;
}

body {
    width: 100%;
    font-family: "Futura", "Arial";
    font-size: 1em;
    line-height: 5em;
    background-color: #2f3438;
    color: #fff;
}

        html,
        body,
        time {
            width:1024px;
            height:768px;
            color:#fff;
            font-size:650px;
            line-height:768px;
            text-align:center;
        }
        body {
            background:#000;
        }
        .glitchText {
            -webkit-animation: glitchText 0.3s infinite;
        }
        @-webkit-keyframes glitchText {
            0% {
                color:#fff;
            }
            50% {
                color:#000;
            }
            100% {
                color:#fff;
            }
        }
        .glitchBackground {
            -webkit-animation: glitchBackground 0.3s infinite;
        }
        @-webkit-keyframes glitchBackground {
            0% {
                background-color:#000;
            }
            50% {
                background-color:#fff;
            }
            100% {
                background-color:#000;
            }
        }